body {
  font-family: 'Merriweather', serif;
  color: #202020;
}

h1,h2,h3 {
  font-family: 'Lora', serif;
}
a {
  text-decoration: none;
  color: #202020;
}
.show {
  //background: #c0e0d0;
  padding: 10px;
  margin: 20px;
  box-shadow: 4px 4px 10px 2px #ccc;
  border-radius: 5px;
  border: 2px solid gray;
}

li {
  list-style-type: none;
}
.three-panels {
  display: flex;
}
.panel {
  padding: 10px;
}

img {
    width: 100%;
}